.navLink {
  font-weight: 800;
  font-size: 22px;
  color: #212121;
  text-decoration: none;
}

.activeNavLink {
  color: tomato;
}

.navList {
  list-style: none;
  display: flex;
  align-items: left;
}

.navListitem {
  margin-right: 20px;
}
